<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName detik.igunawan.com
    ServerAlias detik.igunawan.com
    DocumentRoot /var/www/html/gunawan
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>